header {
    display: flex;
    justify-content: space-between;
}
.top-left div {
  text-align: center;
}

.top-left {
  margin: auto 0px auto 50px;
}
.top-left:hover {
   opacity: 0.4;
}
.top-center {
}
.top-center h1:hover {
  opacity: 0.4;
}
.top-center .A {
  margin-left: 10px;
}
.top-center .A:hover {
  opacity: 0.4;
}
.top-center .B {
  margin-left: 20px;
}
.top-center .B:hover {
  opacity: 0.4;
}
.top-right {
  margin: auto 50px auto 0px;
}
.top-right:hover {
  opacity: 0.4;
}

.text_slider p{
  padding-top: 13px;
  text-align: right;
  animation : scrollText_slider 15s linear infinite;
  color: #ffffff;
}
.text_slider {
  background-color: #696969;
  height: 50px;
}

@keyframes scrollText_slider{
0% { transform: translateX(0)}
100% { transform: translateX(-100%)}
}